* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    color: white;
}

/* Header Details */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-size: 28px;
    text-shadow: 2px 4px 6px blue;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 300;
    text-shadow: 2px 4px 6px blue;
}

.nav-menu {
    display: flex;
    gap: 25px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.contact-btn {
    padding: 8px 16px;
}

.contact-btn {
    background: #444;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 5px 6px grey;
    opacity: 2;
}

/* Home Details */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    background: black;
    color: white;
}

/* Home Text */
.home-text {
    max-width: 600px;
}

.intro {
    font-size: 18px;
    opacity: 0.8;
}

.home-text h1 {
    font-size: 60px;
    margin: 15px 0;
    text-shadow: 2px 4px 6px blue;
    animation: slideIn 1.5s ease;
}

@keyframes slideIn {
    from { 
        transform: translateX(-100px);
        text-shadow: 2px 4px 6px blue;
        opacity: 0; 
    }
    to { 
        transform: translateX(0); 
        opacity: 1;
        text-shadow: 2px 4px 6px blue;
    }
}

.desc {
    opacity: 0.6;
    margin-bottom: 25px;
}

/* Home Button */
.btn {
    background: #00e5ff;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn span {
    transition: transform 0.35s ease;
    font-size: 18px;
}

.btn:hover::before {
    right: 0;
}

.btn:hover span {
    transform: translateX(6px);
}


.right {
    width: 30px;
    height: 30px;
    background: white;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */
.home-img {
    position: relative;
    width: 420px;
    height: 480px;
}

/* Image oda background */
.img-bg {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #888, #333);
    clip-path: polygon(20% 0%, 100% 10%, 85% 100%, 0% 90%);
    border-radius: 30px;
    z-index: 1;
}

/* Image */
.profile-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

/* About Section */
.about-section {
    background: black;
    color: white;
    padding: 120px 100px;
}

.about-heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 4px 6px blue;
}

.about-heading.dotted::after {
    content: "";
    width: 140px;
    border-bottom: 3px dotted white;
    display: block;
    margin: 12px auto 90px;
}

.about-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 120px;
}

.about-wrapper::before {
    content: "";
    width: 360px;              
    height: 500px;
}

/* Cube */
.about-wrapper img {
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    opacity: 0.9;
}

/* Top Cube */
.about-wrapper img.top {
    width: 90px;
    left: 200px;
    top: 60px;
}

/* Middle Cube */
.about-wrapper img.middle {
    width: 200px;
    top: 160px;
}

/* Bottom Cube */
.about-wrapper img.bottom {
    width: 90px;
    top: 400px;
    left: 330px;
}

.about-content {
    max-width: 560px;
}

.about-content h2.name {
    font-size: 56px;
    text-shadow: 2px 4px 6px blue;
    margin-bottom: 60px;
    animation: slideRight 1.5s ease-out forwards;
}

.about-quote {
    position: relative;
    padding: 0 50px;
}

.about-quote p {
    font-size: 18px;
    line-height: 1.9;
    opacity: 0.7;
}

.quote-start, .quote-end {
    font-size: 70px;
    position: absolute;
    color: white;
}

.quote-start {
    left: 0;
    top: -30px;
}

.quote-end {
    left: 230px;
    bottom: -50px;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.skills-section {
    padding: 80px 60px;
    background: #000;
    color: #fff;
}

.section-titless {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    width: 90px;
    border-bottom: 2px dotted #fff;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 4px 6px blue;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-items: center;
}

.skill-card {
    position: relative;
    width: 280px;
    height: 380px;
    border: 1px solid #555;
    border-radius: 18px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 6px blue;
}

.skill-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #333;
    border-top-right-radius: 18px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.skill-number {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px blue;
}

.skill-numbers{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px orangered;
}


.skill-numberss{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px skyblue;
}

.skill-numbersss{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px yellow;
}

.skill-numberssss{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px lightseagreen;
}

.skill-numbersssss{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px greenyellow;
}

.skill-numberssssss{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.8;
    text-shadow: 2px 4px 6px green;
}

.skill-card img {
    width: 90px;
    margin-top: 130px;
    margin-bottom: auto;
}

.skill-btn {
    margin-bottom: 40px;
    background: #3b3f6b;
    color: #fff;
    border: none;
    padding: 8px 22px;
    border-radius: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: default;
}

.skill-btn img {
    width: 14px;
    margin: 0;
}

/* Project Section */
.project-section {
    padding: 100px 80px;
    background: black;
    color: white;
    text-align: center;
}

.section-titles {
    font-size: 36px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-shadow: 2px 4px 6px blue;
}

/* Dotted Line */
.section-title.dotted::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 120px;
    border-bottom: 3px dotted white;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
}

.project-card-wrapper {
    width: 220px;
    height: 140px;
    position: relative;
}

.project-bg {
    position: absolute;
    inset: 0;
    background-image: url("world.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

/* Card */
.project-card {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #0d1b2a, #1b263b);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    z-index: 2;
    transition: transform 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 4px 6px blue;
}

.project-card-wrapper:hover .project-card {
    transform: translateY(-130px);
}

.project-info {
    max-width: 500px;
    text-align: center;
}

.project-info h3 {
    margin-bottom: 10px;
    text-align: left;
    line-height: 3;
}

.project-info p {
    text-align: justify;
    margin-bottom: 10px;
}

.project-link {
    display: flex;
    /* display: inline-block; */
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 6px ;
    border-radius: 10px;
    font-size: 14px;
    width: 130px;
    text-align: left;
}

.section-titles {
    font-size: 40px;
    margin-bottom: 10px;
}

.section-titles.dotted {
    width: 150px;
    border-bottom: 2px dotted white;
    margin: 0 auto 60px;
}

/* Education Details */
.education-section {
    padding: 100px 80px;
    text-align: center;
}

.title-linesssss {
    font-size: 40px;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
}

.section-title {
    font-size: 36px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-shadow: 2px 4px 6px blue;
}

.education-section .section-title{
    cursor: pointer;
}

.title-linesssss::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 80px;            
    transform: translateX(-105%);
    width: 170px;
    border-bottom: 3px dotted white;
}

.education-grid {
    display: flex;        
    justify-content: center;
    gap: 80px;
}

.edu-circle {
    text-align: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: flex;                 
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    gap: 50px;
    animation: wheel 3s linear infinite;
}

@keyframes wheel{
    from{
        transform: rotate(360deg);
        box-shadow: 2px 4px 40px blue;

    }
    to{
        transform: rotate(0deg);
        box-shadow: 2px 4px 40px red;
    }
}

.circle img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.circle span {
    position: relative;
    z-index: 2;
}

.standard {
    margin-top: 15px;
    font-size: 18px;
}

/*Contact Details*/
.contact-section {
    padding: 100px 80px;
    background: black;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 6px blue;
}

.contact-title{
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
}

.contact-title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 150px;
    border-bottom: 2px dotted white;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
    gap: 60px;
}

.contact-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: radial-gradient(circle at top, #222, #000);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.6);
}

.icon-card{
    width:110px;
    height:110px;
    border-radius:50%;
    position:relative;
    background:#050505;
    display:flex;
    justify-content:center;
    isolation:isolate;
    box-shadow: 2px 0px 30px blue,2px 0px 30px black;
    overflow:hidden; 
}

.base-gradient {
    position: absolute;
    bottom: 18px;              
    width: 110px;
    height: 28px;
    border-radius: 0 0 60px 60px;
    background: linear-gradient(180deg,#000000,#0a66c2);
    z-index: 1;
}


.icon-card::after{
    content:"";
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
    width:160px;
    height:90px;
    border-radius:50%;
    filter:blur(20px);
    opacity:0.9;
    z-index:0;
}

.icon-card img:nth-child(1){
    width:28px;
    position:absolute;
    top:22px;
    z-index:3;
}

.icon-card img:nth-child(2){
    width:46px;
    position:absolute;
    top:52px;
    z-index:2;
    opacity:0.9;
}

.icon-card img:nth-child(3){
    width:90px;
    position:absolute;
    bottom:-10px;
    opacity:0.15;
    z-index:1;
}

.linkedin::after{
    background:linear-gradient(180deg,#1da1f2,#0a66c2);
}

.github::after{
    background:linear-gradient(180deg,#cddc39,#8bc34a);
}

.twitter::after{
    background:linear-gradient(180deg,#00e5ff,#0091ea);
}

.gmail::after{
    background:linear-gradient(180deg,#4caf50,#2e7d32);
}

.instagram::after{
    background:linear-gradient(180deg,#e040fb,#ff4081);
}

.facebook::after{
    background:linear-gradient(180deg,#2979ff,#1565c0);
}

/*Mobile View*/
@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 15px;
        top: 20px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background: #111;
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        text-align: center;
        padding: 15px 0;
    }

    .nav-menu a {
        padding: 12px 0;
    }

    #menu-toggle:checked ~ .nav-menu {
        display: flex;
    }

    .contact-btn {
        display: none;
    }

    .logo{
        margin-right: 300px;
    }

    header {
        flex-direction: column;
        gap: 15px;
        padding: 15px 20px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    section {
        padding: 30px 15px;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }


    .about-wrapper img.top{
        left: -50px;
    }

    .about-wrapper img.middle{
        left: 130px;
        top: -50px;
    }

    .about-wrapper img.bottom{
        top: -10px;
    }

    .project-item {
        flex-direction: column;
        text-align: center;
    }

    .about-wrapper {
        flex-direction: column;
        text-align: center;
        top: 100px;
    }

    .about-content .name{
        bottom: 100px;
    }

    .education-grid {
        flex-direction: column;
        gap: 20px;
        margin: 70px;
    }

    .contact-grid{
        grid-template-columns: 2fr;
        margin: 100px;
    }
}

/* TABLET VIEW <= 768px */
@media screen and (max-width: 768px) {
    header {
        padding: 20px 30px;
    }

    .home {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .home-text h1 {
        font-size: 28px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-item {
        flex-direction: column;
        text-align: center;
    }

    .about-wrapper {
        flex-direction: column;
        gap: 20px;
    }
}

/* SMALL LAPTOP <= 1024px */
@media screen and (max-width: 1024px) {
    header {
        padding: 20px 40px;
    }

    .home-text h1 {
        font-size: 32px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-item {
        flex-direction: column;
    }

    .about-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* DEFAULT LAPTOP > 1024px */
@media screen and (min-width: 1025px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-item {
        flex-direction: row;
    }

    .about-wrapper {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .skills-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;                     
        width: 100%;                  
    }

    .skill-card {
        width: 70%;        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skill-card img {
        max-width: 60px;              
        margin-bottom: 10px;
    }

    .skill-btn {
        width: 80%;
        justify-content: center;
    }
}






